/*APP*/
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
    background-image: url("./assets/img/fondo.png"), linear-gradient(to bottom, rgba(0, 0, 0), rgba(117, 25, 80)); /* Agregamos la imagen de fondo y un gradiente para el color de fondo */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;  
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.contenedor {
  width: 50vw;
  text-align: center;
  margin-left: 30%;
}

.titulo {
  font-family: "Comic Sans MS", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem; 
  color: white; 
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px; 
}

.inputContainer input {
  width: 23%;
  height: 35px;
  max-width: 200px;
  margin: 0 auto;
  padding-left: 40px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 9px; /* Ajusta el espacio entre el input y el botón */
}

.buttonVerificar {

  background-color: green; 
  color: white; 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  width: 100%;
  max-width: 150px;
  margin: 0 auto; 
}

.buttonVerificar:hover {
  background-color: white; 
  color: green;
}

/* Modal*/
.ModalBody {
  text-align: center;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImage {
  margin-right: 10px; 
  max-width: 70px;
}

.name {
  font-weight: bold; 
  font-size: 1.2rem; 
}

.titleConfirmacion {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  padding: 10%;
}

.btnConfirmar,
.btnNo {
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  max-width: 150px;
  margin-top: 20px; 
}

.btnNo {
  background-color: black;
  margin-left: 10px; 
}

.btnConfirmar:hover,
.btnNo:hover {
  background-color: purple;
}